body {
    background-image: url('../images/bg.jpg');
    /* background-image: url(https://www.dnnsoftware.com/Portals/0/Images/hero-background-4-1.jpg?ver=2017-08-17-190903-737); */
    background-repeat: no-repeat;
    background-size: cover;
}

button a:hover {
    color: white;
    background-color: white;
}

header {
    margin-bottom: 5px;
    box-sizing: border-box;
    background: transparent;
}

footer {
    margin-top: 10px;
    box-sizing: border-box;
    background: transparent;
    box-shadow: 0 0 25px;
}

hr {
    background-color: white;
}

.navbtn {
    color: white;
}

.navbtn :hover {
    color: pink;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

input[text] {
    width: 150px;
}